body {
    margin: 0;
    background: #0F172A;
    color: #F8FAFC;
    font-family: "Segoe UI", sans-serif;
}

.dashboard {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

h2 {
    color: #CBD5E1;
}

/* Summary Cards */

.card-container {
    display: flex;
    gap: 25px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.card {
    background: #1E293B;
    padding: 25px;
    border-radius: 16px;
    min-width: 250px;
    flex: 1;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card h3 {
    margin: 0;
    color: #94A3B8;
}

.card h2 {
    margin-top: 15px;
    font-size: 2rem;
}

.income {
    color: #10B981;
}

.expense {
    color: #EF4444;
}

.balance {
    color: #3B82F6;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    background: #1E293B;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 20px;
}

th {
    background: #334155;
    color: white;
}

th,
td {
    padding: 15px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #475569;
}

tr:hover {
    background: #273549;
}

/* Buttons */

button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* Edit button */
.edit-btn {
    background: #3B82F6;
    margin-right: 10px;
}

/* Delete button */
.delete-btn {
    background: #EF4444;
}

/* Form */

input,
select {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background: #1E293B;
    color: white;
    border: 1px solid #475569;
    border-radius: 8px;
}

hr {
    border: none;
    border-top: 1px solid #334155;
    margin: 30px 0;
}

.add-btn {
    background: #10B981;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
}